 p {
        color: white;
        font-family: sans-serif;
    }
       h3 {
        color: white;
        font-family: sans-serif;
    }  

    h5 {
        color: white;
        font-family: sans-serif;
    }  
    h4 {
        color: white;
        font-family: sans-serif;
    }  
        h1 {
          font-family: sans-serif;
          color: white;
        }
        h2 {
            font-family: sans-serif;
            color: white;
          }